{% extends 'dashboard.html' %}

{% block parent_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url('dashboard') }}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Posts
        </li>
    </ol>
</nav>
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0">
        <h5 class="card-title">Posts</h5>
    </div>
    <div class="card-body">
        <form action="{% if post.id %}{{ url('dashboard/posts/update/'~post.id) }}{% else %}{{ url('dashboard/posts/save') }}{% endif %}" 
              method="post">
            <input type="hidden" name="id" value="{{ post.id }}"/>
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input id="title" name="title" type="text" class="form-control" 
                       value="{{ post.title ? post.title : '' }}">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Postagem</label>
                <textarea id="body" name="body" class="form-control" 
                          rows="3">{{ post.body ? post.body : '' }}
                </textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select id="status" name="status" class="form-select">
                            <option value="1" {% if post.status == "1" %}selected{% endif %}>Ativo</option>
                            <option value="0" {% if post.status == "0" %}selected{% endif %}>Invativo</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="category_id" class="form-label">Categoria</label>
                        <select id="category_id" name="category_id" class="form-select">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if post.category_id == category.id %}selected{% endif %}>{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>                    
                </div>
            </div>
            <input type="submit" class="btn btn-primary" 
                   value="{% if post.id %}Atualizar{% else %}Cadastrar{% endif %}">
        </form>
    </div></div>
{% endblock %}